<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/ic_launcher_round (2).ico">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/css/trix.css">
    <link rel="stylesheet" href="/css/app.css">
    <title>{{nombrePagina}}</title>
</head>
<body>
    <header>
        <div class="contenedor">
            <div class="subcontenedor">
                <nav class="navbar">
                    <h1>
                        <a class="nav-tit" href="/">appJobsYpf</a>
                    </h1>



                    {{#if cerrarSesion}}
                        
                        <div class="nav-menu">
                           <!-- <div class="nav-item">
                                <p class="hola">Hola! {{nombre}}</p>
                            </div>-->
                            <div class="nav-item">
                                {{#if imagen}}
                                    <img src="{{imagen}}" class="img-nav">
                                {{/if}}
                            </div>
                           <div class="nav-item">
                                <a href="/administracion">Administración</a>
                            </div>

                           <!-- <div class="count-products">
					            <span id="contador-productos">0</span>
					        </div>-->
                           
                            <div class="nav-item">
                                {{#if novedades}} <!-- si existe un informe-->
                                    {{#if tareas}} 
                                        <a class="nov" href="/novedades" id="Novedades">
                                          {{novedades.length}}Novedades
                                        </a>
                                    {{/if}} 
                                {{/if}}
                            </div> 

                            <div class="nav-item">
                                {{#if informes}} <!-- si existe un informe-->
                                    {{#if tareas}} 
                                        <a class="nov" href="/novedades" id="Novedades">
                                          {{informes.length}}informes
                                        </a>
                                    {{/if}} 
                                {{/if}}
                            </div> 

                            <div class="nav-item">
                                <a href="/cerrar-sesion">Cerrar Sesión</a>
                            </div>
                        </div>
                       
                    {{/if}}
                    <div class="hamburger">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
    
                    </div>
                </nav>
            </div>
            {{#if barra}}
                <div class="buscador">
                    <form action="/buscador" method="POST">
                        <input type="text" name="q" class="buscar">
                        <input type="submit" value="Buscar">
                   </form>
                </div>
            {{/if}}
        </div>
    </header>

    <header class="site-header contenedor separador">
        <h2>{{nombrePagina}}</h2>
        {{#if tagline}}
            <p class="tagline">{{tagline}}</p>
        {{/if}}

        {{#if boton}}
            <a href="/tareas/nueva" class="btn btn-azul">Publicar Nueva Tarea</a>
        {{/if}}
    </header>

    <div class="contenido-principal contenedor">
        {{#if mensajes}}
            <div class="alertas">
                {{#mostrarAlertas mensajes}}
                    <li>do</li>
                {{/mostrarAlertas}}
            </div>
        {{/if}}
        {{{body}}}
    </div>
    <script src="/js/trix.js"></script>
    <script src="/dist/bundle.js"></script>
    <script src="/js/script.js"></script>
 
</body>
</html> 
