
<main class="lista-tareas"> 
    <h2>Navegación</h2>
        <div class="botones separador">
        <a href="/editar-perfil" class="btn btn-azul">Editar Perfil</a>
        <a href="/tareas/nueva" class="btn btn-verde">Nueva Tarea</a>
    </div>

    <h2>Tus Tareas</h2>

    <div class="panel-administracion">
        {{#if tareas.length}}
            {{#each tareas}}
                <div class="tarea">
                    <div class="caja">
                        <h3>{{empresa}}</h3>
                        <p class="puesto">{{planta}}</p>
                        <p class="candidatos">
                            {{candidatos.length}} Informe(s)
                        </p>
                        
                    </div>
                    <div class="centrar-vertical caja">
                        <a href="/candidatos/{{_id}}" class="btn btn-amarillo">Candidatos</a>
                    </div>
                    <div class="centrar-vertical caja">
                        <a href="/tareas/editar/{{url}}" class="btn btn-verde">Editar</a>
                    </div>
                    <div class="centrar-vertical caja">
                        <a href="#" data-eliminar={{_id}} class="btn btn-rojo">Eliminar</a>
                    </div>
                </div>
            {{/each}}
        {{else}}
            <p>No Hay tareas, crea una</p>
        {{/if}}
    </div>
</main>