<main class="lista-tareas"> 
    <h2>Lista de Tareas</h2>

    {{#if tareas.length}}<!--revisamos si existe algo aqui--> 
        {{#each tareas}}
            <div class="tarea">
                <div class="caja">
                    <h3>Empresa Ejecutora</h3><!--Con esto enviamos estos valores de la DB-->
                    <p class="puesto">{{empresa}}</p>
                </div>
                <div class="caja">
                    <p class="etiqueta2">Prioridad</p>
                    <p class="prioridad1">{{prioridad}}</p>
                </div>
                <div class="caja">
                    <p class="etiqueta2">Finalización</p>
                    <p class="contrato1">{{fin}}</p>
                </div>
                <div class="caja centrar-vertical">
                    <a href="/tareas/{{url}}" class="btn btn-verde">Más Info</a>
                </div>
            </div> <!--.tarea-->
        {{/each}}
    {{else}}
        <p>No hay Tareas</p><!--de esta forma podemos revisar si existe algo o no-->
    {{/if}}
</main>