<main class="lista-tareas"> 
    <h2>Tus Novedades</h2>
    <div class="panel-administracion">
        {{#if tareas}}
            {{#each tareas}}
                <div class="tarea">
                    <div class="caja">
                        <h3>{{empresa}}</h3>
                        <p class="puesto">{{planta}}</p>
                        <p class="informes">
                            {{novedad.length}} novedad(s)
                        </p>
                    </div>
                    <div class="centrar-vertical caja">
                        <a href="/novedad-tarea/{{_id}}" class="btn btn-amarillo">Novedad</a>
                    </div>
                    <div class="centrar-vertical caja">
                        <a href="/tareas/editar/{{url}}" class="btn btn-verde">Editar Tarea</a>
                    </div>

                </div>
            {{/each}}
        {{else}}
            <p>No Hay novedades, revisa las tareas pendientes</p>
        {{/if}}
    </div>

<!--
    <div class="panel-administracion">
        {{#if tareas.length}}
            {{#each tareas}}
                <div class="tarea">
                    <div class="caja">
                        <h3>{{empresa}}</h3>
                        <p class="puesto">{{planta}}</p>
                        <p class="informes">
                            {{informes.length}} Informe(s)
                        </p>
                        
                    </div>
                    <div class="centrar-vertical caja">
                        <a href="/informes/{{_id}}" class="btn btn-amarillo">Informes</a>
                    </div>
                    <div class="centrar-vertical caja">
                        <a href="/tareas/editar/{{url}}" class="btn btn-verde">Editar</a>
                    </div>
                    <div class="centrar-vertical caja">
                        <a href="#" data-eliminar={{_id}} class="btn btn-rojo">Eliminar</a>
                    </div>
                </div>
            {{/each}}
        {{else}}
            <p>No Hay novedades, revisa las tareas pendientes</p>
        {{/if}}
    </div>
    !-->
</main>